* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #e7c0e9;
    margin: 0;
    padding: 0;
}

marquee {
    background-color: rgb(192, 153, 204);
    padding: 10px;
    text-align: center;
    border: 2px solid #601b73;
}

h1 {
    color: rgb(248, 245, 248);
    font-size: 32px;
}

p b {
    font-size: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}

a {
    color: #770881;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
#ngo{
    color: red;
    display: inline;
}
